@import "reset";
@import "_mixins";
@import "_variables";

#convenience-section {
  * {
    z-index: 5;
  }
  .banner-wrap {
    position: relative;
    height: max(20vmin, 200px);
    @include banner;
    @include mobile {
      // min-height: 150px;
    }
    .banner-content-wrap {
      @include banner-content-wrap;
      .title {
        @include banner_title;
      }
      .subtitle {
        @include banner_subtitle;
      }
    }
  }
}

.convenience-banner-option {
  margin-bottom: 0;
  //   height: ;
}
