@import "reset";
@import "_mixins";
@import "_variables";

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

#service-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  .banner-wrap {
    position: relative;
    height: max(20vmin, 200px);
    @include banner;
    .banner-img {
      top: 60% !important;
      @include mobile {
        top: 50% !important;
      }
    }
    .banner-content-wrap {
      @include banner-content-wrap;
      .title {
        @include banner_title;
      }
      .subtitle {
        @include banner_subtitle;
      }
    }
  }
  .l-content {
    display: block;
    width: 60%;
    padding-inline: 2rem;
    @include mobile {
      width: 100%;
      padding-inline: 0;
      padding: 1rem;
    }
  }
  .r-content {
    position: relative;
    // padding: 2rem;
    overflow: hidden !important;
  }
}

.container {
  position: relative;
  padding-bottom: 2rem;
  @include mobile {
    top: 0;
    height: max-content;
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 0;
  }
  .faq-title {
    font-size: 26px;
    font-weight: 700;
    padding: 2rem 0;
    padding-bottom: 1rem;
    color: $strong;
    @include mobile {
      padding: 1rem 0.5rem;
      font-size: 22px;
    }
  }
  .faq-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200px;
    padding: 17px 0;
    border-radius: 50px;
    color: $text;
    background-color: #c3c4ca;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    @include mobile {
      margin-bottom: 2em;
    }
    &:hover {
      color: white;
      background-color: $lightblue;
    }
  }
  .subtitle {
    max-width: 40rem;
    margin-bottom: 2em;
  }
}

.accordion {
  .accordion-item {
  }
  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1.3em;
    color: $text;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    &:hover,
    &:focus {
      cursor: pointer;
      color: $blue;
      &::after {
        cursor: pointer;
      }
    }
    @include mobile {
      font-size: 1rem;
    }
    .accordion-title {
      padding: 1em 1.5em 1em 0em;
    }
    .icon {
      display: inline-block;
      position: absolute;
      top: 23px;
      right: 1.3em;
      width: 22px;
      height: 22px;
      &::before {
        display: block;
        position: absolute;
        content: "";
        top: 10px;
        left: 6px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: "";
        top: 6px;
        left: 10px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }
  button[aria-expanded="true"] {
    color: $blue;
    .icon {
      &::after {
        width: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: max-content;
    }
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    background-color: $lightblue;
    p {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.6;
      margin: 1.5em;
      color: white;
      text-align: justify;
      @include mobile {
        font-size: 0.9rem;
      }
    }
    strong {
      font-weight: 900;
      text-decoration: underline white 2px;
      text-underline-offset: 0.2em;
    }
    a {
      color: white;
      text-decoration: none;
    }
    ul {
      margin: 1.5em;
      li {
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.2;
        text-indent: 0.75em;
        color: white;
        &::before {
          content: "-";
        }
      }
    }
  }
}
