@import "reset";
@import "_mixins";
@import "_responsive";
@import "_variables";

body {
  // overflow: hidden;
  width: 100vw;
}

#home-section {
  padding-top: 7em;
  transition: ease-in-out 0.3s;
  @include mobile {
    padding-bottom: 10px;
  }
  * {
    z-index: 5;
  }
}

.banner-wrap {
  position: relative;
  height: 40vmin;
  margin-bottom: 2em;
  color: white;
  border-radius: 25px;
  overflow: hidden;
  &:hover {
    .banner-img {
      transform: scale(1.05);
    }
  }
  @include mobile {
    margin-bottom: 0;
  }
  .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.3s;
  }
  .banner-text {
    position: absolute;
    left: 2.5em;
    bottom: 2em;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    li {
      span {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
    @include mobile {
      left: 1.7em;
      bottom: 1.2em;
      font-size: 14px;
    }
  }
}

.card-wrap {
  display: flex;
  align-items: flex-start;
  height: calc(60vmin - 9em);
  @include mobile {
    flex-direction: column;
    // height: 100vmax;
  }
  .card {
    width: calc(100% / 4);
    height: 100%;
    border-radius: 25px;
    @include mobile {
      width: 100%;
      height: initial;
      // margin-right: 0 !important;
    }
    &:not(:last-child) {
      margin-right: 2em;
    }
    &:last-child {
    }
    .card-title {
      width: 100%;
      margin-left: 1em;
      padding: 1em 0;
      color: $strong;
      font-size: 21px;
      font-weight: 900;
      @include mobile {
        width: initial;
      }
      i {
        margin-right: 0.3em;
      }
    }
    .card-content {
      position: relative;
      margin-bottom: 10em;
      padding-left: 2rem;
      padding-top: 1.5rem;
      height: calc(100% - 6.5rem);
      border: 2px solid #a1a2a66f;
      border-radius: 25px;
      background-color: white;
      @include mobile {
        padding-bottom: 1.5rem;
        margin-bottom: 0;
        height: initial;
      }
    }
  }
}

.post {
  .post-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    @include mobile {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    .post-type {
      padding: 5px 15px;
      margin-right: 13px;
      border: 1.5px solid #a1a2a66f;
      border-radius: 25px;
      color: $strong;
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.phone {
  position: relative;
  .card-title {
    &::after {
      content: "";
      z-index: 10;
      position: absolute;
      width: 85%;
      height: 2px;
      left: 50%;
      top: 150px;
      transform: translateX(-50%);
      background-color: #a1a2a66f;
    }
  }
  .phone-content {
    p {
      line-height: 140%;
      &:nth-child(n + 3) {
        text-indent: 1rem;
      }
      &:nth-child(2) {
        margin-top: 2.25rem;
        margin-bottom: 0.5rem;
        font-weight: 700;
      }
    }
  }
  .number {
    color: $strong;
    font-size: 40px;
    font-weight: 900;
  }
}

.sponser {
  .card-content {
    padding: 0 !important;
    background-image: url("https://picsum.photos/800/800/?image=192");
    background-position: 50% 50%;
    background-size: 120%;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      background-size: 125%;
      .sponser-text {
        opacity: 1;
      }
    }
    @include mobile {
      min-height: 300px;
    }
  }
  .sponser-wrap {
    @include mobile {
      padding-bottom: 10px !important;
    }
    .sponser-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      font-size: 26px;
      opacity: 0;
      transition: all ease-in-out 0.3s;
    }
  }
}

.img-wrap {
  position: absolute;
  width: 35vmax;
  height: 35vmax;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .portrait-img {
    position: absolute;
    right: -19vmax;
    bottom: 0;
    width: 1280px;
    height: 720px;
  }
  .dr-name {
    position: absolute;
    right: 15vmax;
    bottom: 2em;
    display: flex;
    flex-direction: column;
    margin-top: 7em;
    span {
      font-size: 20pt;
      font-weight: 700;
      letter-spacing: 5px;
      line-height: 170%;
      &:nth-child(2) {
        color: gray;
        font-size: 8pt;
        font-weight: 100;
        letter-spacing: 0px;
      }
    }
  }
}
