@import "reset";
@import "_mixins";
@import "_responsive";
@import "_variables";

#home-section {
  padding-top: 7em;
  transition: ease-in-out 0.3s;
  * {
    z-index: 5;
  }
  .banner-wrap {
    @include banner;
  }
}

.banner-wrap {
  height: 37vmin;
  color: white;
  margin-bottom: 1em;
  @include mobile {
    margin-bottom: 0;
  }
  .banner-text {
    position: absolute;
    left: 2.5em;
    bottom: 1.7em;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    text-shadow: #555353 1px 0 10px;
    li {
      span {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
    @include mobile {
      left: 1.7em;
      bottom: 1.2em;
      font-size: 14px;
    }
  }
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  @include mobile {
    flex-direction: column;
    gap: 0;
  }
  .card {
    display: flex;
    flex-direction: column;
    min-width: calc((100% - 6em) / 4);
    border-radius: 25px;
    &:last-child {
      .card-title {
        color: $bg;
      }
    }
    .card-title {
      margin-left: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      color: $strong;
      font-size: 21px;
      font-weight: 900;
      i {
        margin-right: 0.3em;
      }
    }
    .card-content {
      position: relative;
      padding-left: 2rem;
      padding-top: 1.5rem;
      aspect-ratio: 1 / 1;
      min-width: 250px;
      border: 2px solid $bordergray;
      border-radius: 25px;
      background-color: white;
      @include mobile {
        margin-bottom: 0;
        padding-bottom: 1.5rem;
        aspect-ratio: auto;
        min-width: unset;
      }
    }
  }
}

.post {
  .post-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    @include mobile {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    .post-type {
      padding: 5px 15px;
      margin-right: 13px;
      border: 1.5px solid $bordergray;
      border-radius: 25px;
      color: $strong;
      font-size: 14px;
      font-weight: 700;
    }
    a {
      text-decoration: none;
      color: $text;
    }
  }
}

.phone {
  position: relative;
  .card-title {
  }
  .phone-content {
    p {
      line-height: 140%;
      &:nth-child(n + 3) {
        text-indent: 1rem;
      }
      &:nth-child(2) {
        margin-top: 2.25rem;
        margin-bottom: 0.5rem;
        font-weight: 700;
      }
    }
  }
  .number {
    color: $lightblue;
    font-size: 40px;
    font-weight: 900;
    &::before {
      content: "";
      z-index: 15 !important;
      position: absolute;
      width: 85%;
      height: 2px;
      left: 50%;
      top: 100px;
      transform: translateX(-50%);
      background-color: $bordergray;
    }
  }
}

.sponser {
  .card-content {
    padding: 0 !important;
    background-image: url("/images/premier.png");
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
    &:hover {
      background-size: 105%;
      .sponser-text {
        opacity: 1;
      }
    }
    @include mobile {
      height: 100vw !important;
      background-size: 110%;
      &:hover {
        background-size: 115%;
      }
    }
  }
  .sponser-wrap {
    @include mobile {
      padding-bottom: 10px !important;
    }
    .sponser-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      font-size: 18px;
      opacity: 0;
      transition: all ease-in-out 0.3s;
      span {
        padding: 10px 0;
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
      }
    }
  }
}

// .img-wrap {
//   position: absolute;
//   width: 35vmax;
//   height: 35vmax;
//   right: 0;
//   bottom: 0;
//   overflow: hidden;
//   .portrait-img {
//     position: absolute;
//     right: -19vmax;
//     bottom: 0;
//     width: 1280px;
//     height: 720px;
//   }
//   .dr-name {
//     position: absolute;
//     right: 15vmax;
//     bottom: 2em;
//     display: flex;
//     flex-direction: column;
//     margin-top: 7em;
//     span {
//       font-size: 20pt;
//       font-weight: 700;
//       letter-spacing: 5px;
//       line-height: 170%;
//       &:nth-child(2) {
//         color: gray;
//         font-size: 8pt;
//         font-weight: 100;
//         letter-spacing: 0px;
//       }
//     }
//   }
// }
