@import "reset";
@import "_mixins";
@import "_variables";

#info-section {
  * {
    z-index: 5;
  }
  .banner-wrap {
    position: relative;
    height: 25vmin;
    min-height: 200px;
    @include banner;
    @include mobile {
      // min-height: 150px;
    }
    .banner-content-wrap {
      @include banner-content-wrap;
      .title {
        @include banner_title;
      }
      .subtitle {
        @include banner_subtitle;
      }
    }
  }
}
