@import "reset";
@import "_responsive";
@import "_variables";

#reserve-section {
  display: grid;
  grid-template-columns: 30% calc(70% - 20px);
  grid-template-rows: 125px 1fr;
  grid-gap: 20px;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  * {
    z-index: 5;
  }
}

.l-content,
.r-content {
  background-color: #dadbe1a6;
  border: 1.5px solid #c3c4ca;
  border-radius: 30px;
}

.l-content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-column-start: 1;
  justify-items: center;
  width: 100%;
  height: 70vmin;
  @include mobile {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-gap: 0.5em;
    padding: 1em;
    height: 250px;
  }
  .info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
      justify-content: flex-start;
    }
    i {
      font-size: 50px;
      color: $strong;
      @include mobile {
        font-size: 30px;
      }
    }
    h2 {
      position: relative;
      font-size: 16pt;
      margin: 20px 0;
      padding-bottom: 10px;
      @include mobile {
        font-size: 14pt;
      }
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 35px;
        transform: translateX(-50%);
        width: 50px;
        height: 1px;
        background-color: black;
      }
    }
    strong {
      font-size: 18pt;
      font-weight: 700;
      color: $text;
      line-height: 140%;
      @include mobile {
        font-size: 12pt;
      }
    }
    p {
      font-size: 10pt;
      line-height: 120%;
    }
  }
}

.r-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-start: 2;
  grid-gap: 4em;
  padding: 4rem;
  height: 70vmin;
  @include mobile {
    padding: 1em;
    margin-bottom: 10px;
    height: 100%;
  }
  div {
    &:nth-child(even) {
      @include mobile {
        padding-left: 1em;
      }
    }
  }
  .r-title {
    font-size: 16pt;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .r-subtitle {
    text-transform: uppercase;
    letter-spacing: -0.5px;
  }
  ul {
    li {
      padding-bottom: 1rem;
      word-break: keep-all;
      span {
        font-weight: 700;
        &::after {
          content: "";
          margin-right: 0.5em;
        }
      }
    }
  }
  .strong {
    padding: 0.75em 1.25em;
    color: white;
    background-color: $lightblue;
  }
}
