@import "reset";
@import "_mixins";
@import "_variables";

#reserve-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
  .banner-wrap {
    position: relative;
    height: max(20vmin, 200px);
    @include banner;
    .banner-img {
      top: 70% !important;
      @include mobile {
        top: 50% !important;
      }
    }
    .banner-content-wrap {
      @include banner-content-wrap;
      .title {
        @include banner_title;
      }
      .subtitle {
        @include banner_subtitle;
      }
    }
  }
  .l-content {
    width: 30%;
    @include mobile {
      width: 100%;
    }
  }
  .r-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-start: 2;
    grid-gap: 2.5rem;
    padding: 2.5rem;
  }
}

.reserve-content-wrap {
  display: flex;
  height: calc(70vmin - 3rem);
  min-height: 600px;
  gap: 1rem;
  @include mobile {
    flex-direction: column;
  }
}

.l-content,
.r-content {
  background-color: white;
  border: 2px solid $bordergray;
  border-radius: 30px;
  @include mobile {
    min-height: max-content;
    margin-bottom: 0;
  }
}

.l-content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-column-start: 1;
  justify-items: center;
  min-width: 250px;
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1.5rem;
  }
  .info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include mobile {
      align-items: flex-start;
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
    &:not(:first-child) {
      p {
        &:nth-child(2) {
          padding-top: 20px;
          @include mobile {
            padding-top: 5px;
          }
        }
      }
    }
    .title-wrap {
      display: flex;
      align-items: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 70px;
        transform: translateX(-50%);
        width: 50px;
        height: 2px;
        background-color: $bordergray;
        @include mobile {
          display: none;
        }
      }
      i {
        font-size: 30px;
        color: $strong;
        @include mobile {
          font-size: 15px;
          font-weight: 700;
        }
      }
      h2 {
        position: relative;
        padding: 20px 10px;
        font-size: 30px;
        font-weight: 700;
        @include mobile {
          padding: 0 4px;
          font-size: 14pt;
        }
      }
    }
    strong {
      padding-top: 20px;
      font-size: 18pt;
      font-weight: 700;
      color: $lightblue;
      line-height: 140%;
      @include mobile {
        padding-top: 5px;
        font-size: 12pt;
      }
    }
    p {
      font-size: 10pt;
      line-height: 120%;
    }
  }
  .map-btn {
    margin: 1rem 0;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    color: $strong;
    background-color: $bg;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    @include mobile {
      align-self: center;
      margin-top: 1.5rem;
      margin-bottom: 0;
    }
    &:hover {
      color: white;
      background-color: $lightblue;
    }
  }
}

.r-content {
  width: 100%;
  @include mobile {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 10px;
    div {
      &:nth-child(even) {
        margin-bottom: 2rem;
      }
    }
  }
  div {
    &:nth-child(even) {
      @include mobile {
        padding-left: 1em;
      }
    }
  }
  .r-title {
    font-size: 16pt;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .r-subtitle {
    text-transform: uppercase;
    letter-spacing: -0.5px;
  }
  ul {
    li {
      padding-bottom: 1rem;
      word-break: keep-all;
      span {
        font-weight: 700;
        &::after {
          content: "";
          margin-right: 0.5em;
        }
      }
    }
  }
  .strong {
    padding: 0.75em 1.25em;
    color: white;
    background-color: $lightblue;
  }
}
