@import "reset";
@import "_mixins";
@import "_responsive";
@import "_btn";
@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "IBMPlexSansKR-Regular";
  background-color: #e5e6ed;
  background-image: url("https://hankookhos.site/images/lee_portrait.png");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include mobile {
    background-size: 200%;
  }
}

.btn13 {
  @include btn(calc(100vw - 85px), 5.25px);
  .icon {
    @include icon(4px, 30px);
    &:before {
      @include icon-before(4px, 30px, -10px);
    }
    &:after {
      @include icon-after(4px, 30px, 10px);
    }
  }
  &.open {
    .icon {
      transition: 0.5s;
      &:before {
        transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -3px);
      }
      &:after {
        transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 3px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}

#mobile-nav {
  display: none;
  width: calc(100% - 10px);
  @include mobile {
    display: inline;
  }
  .menu-group {
    transition: 0.5s;
    @include mobile {
      display: grid;
      grid-template-rows: 1fr 5fr;
      width: calc(100% - 10px);
      height: 75px;
      border-radius: 50px;
      background-color: #2e56a6;
    }
    .menu-logo {
      @include mobile {
        display: flex;
        align-items: center;
        height: 75px;
      }
      img {
        padding-left: 40px;
        height: 35px;
        object-fit: scale-down;
      }
    }
    &.wide {
      height: 400px;
      border-radius: 0;
    }
  }
}

nav {
  position: fixed;
  top: 30px;
  left: 50px;
  @include mobile {
    display: none;
    top: 10px;
    left: 10px;
  }
  ul {
    @include mobile {
      display: none;
      opacity: 1;
      transition-duration: 1s;
      transition-property: opacity;
      &.fade {
        opacity: 0;
      }
      &.visible {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
    }
    li {
      float: left;
      margin-right: 12px;
      padding: 10px 20px;
      border: 1px solid #c3c4ca;
      border-radius: 50px;
      font-size: 10pt;
      font-weight: 500;
      transition: ease-in-out 0.2s;
      @include mobile {
        border: none;
        padding: 20 100;
        margin: 0;
        color: white;
        font-size: 12pt;
      }
      &:hover {
        background-color: #2e56a6;
        color: white;
        cursor: pointer;
      }
    }
  }
}

#home-section,
#reserve-section,
#info-section,
#service-section {
  margin: 0px 50px;
  height: 100%;
  @include mobile {
    margin: 0 10px;
  }
}

#home-section {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 40% minmax(max-content, 10%) minmax(max-content, 10%) 40%;
  transition: ease-in-out 0.3s;
  @include mobile {
    grid-template-rows: 10% 1fr 1fr;
  }
  .name {
    display: flex;
    grid-column: span 2;
    flex-direction: column;
    margin-top: 7em;
    @include mobile {
      grid-column: 1 / -1;
      grid-row: -2 / -1;
      place-content: end;
      margin: 0;
      margin-bottom: 40px;
    }
    span {
      font-size: 20pt;
      font-weight: 700;
      letter-spacing: 5px;
      line-height: 170%;
      &:nth-child(2) {
        color: gray;
        font-size: 8pt;
        font-weight: 100;
        letter-spacing: 0px;
      }
    }
  }
  .customer-group {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row: 2 / 4;
    justify-content: flex-end;
    @include mobile {
      display: none;
    }
    .customer-icon {
      padding-bottom: 20px;
      .item {
        float: left;
        width: 65px;
        height: 65px;
        margin-right: -15px;
        background-color: #c7c7c7;
        border: 2px solid #e5e6ed;
        border-radius: 50%;
        object-fit: fill;
        &:nth-child(1) {
          @include customer(
            5,
            "https://thumbs.dreamstime.com/b/portrait-handsome-smiling-young-man-folded-arms-smiling-joyful-cheerful-men-crossed-hands-isolated-studio-shot-172869765.jpg"
          );
        }
        &:nth-child(2) {
          @include customer(
            4,
            "https://media.istockphoto.com/id/1332373959/photo/very-happy-young-man-man.jpg?b=1&s=170667a&w=0&k=20&c=oyeVqtXJ9mpGYfJ6BYHYkR9pyufVVhIonT4J1oU4sWE="
          );
        }
        &:nth-child(3) {
          @include customer(
            3,
            "https://img.freepik.com/free-photo/close-up-shot-pretty-woman-with-perfect-teeth-dark-clean-skin-having-rest-indoors-smiling-happily-after-received-good-positive-news_273609-1248.jpg?w=2000"
          );
        }
        &:nth-child(4) {
          @include customer(
            2,
            "https://media.istockphoto.com/id/685132245/photo/mature-businessman-smiling-over-white-background.jpg?s=612x612&w=0&k=20&c=OJk6U-oCZ31F3TGmarAAg2jVli8ZWTagAcF4P-kNIqA="
          );
        }
      }
    }
    .customer-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      span {
        &:nth-child(1) {
          font-size: 16pt;
          font-weight: 700;
          padding-bottom: 0.25em;
        }
        &:nth-child(2) {
          font-size: 12pt;
        }
      }
    }
  }
  .quotation-group {
    display: flex;
    grid-column-start: 1;
    grid-row: 2 / 4;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    @include mobile {
      display: none;
    }
    .quotation-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 2em;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background-color: #2e56a6;
      svg {
        width: 50%;
        height: 50%;
        fill: white;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 4;
    justify-content: center;
    font-size: 32pt;
    font-weight: 900;
    line-height: 140%;
    @include mobile {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      font-size: 19pt;
    }
    li {
      span {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }
  .logo {
    display: flex;
    grid-column-start: 2;
    grid-row-start: 4;
    align-items: center;
    margin: 15% 0px;
    background-color: #2e56a6;
    @include mobile {
      display: none;
    }
    img {
      padding: 50px;
      max-width: calc(100% - 100px);
      object-fit: scale-down;
    }
  }
}
