@import "reset";
@import "navigation";
@import "home";
@import "_mixins";
@import "_responsive";

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "IBMPlexSansKR-Regular";
  background-color: #e5e6ed;
  background-image: url("https://hankookhos.site/images/lee_portrait.png");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include mobile {
    background-size: 200%;
  }
}

#home-section,
#reserve-section,
#info-section,
#service-section {
  margin: 0px 50px;
  height: 100%;
  @include mobile {
    margin: 0 10px;
  }
}
